<% provide(:title, "Rapport | Användare") %>

<div class="row">
  <h1>Aktiva användare</h1>
  <% if current_user.admin? %>
    <br>
    <%= link_to 'Lägg till ny användare', new_user_invitation_path, class: "btn btn-primary btn-large"%>
    <br>
    <br>
  <% end %>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Email</th>
        <th>Roll</th>
        <th>Admin</th>
      </tr>
    </thead>

    <tbody>
      <% @activated_users.each do |u| %>
        <tr>
          <% if u.name.nil? %>
            <td>Användaren har ej satt ett namn</td>
          <% else %>
            <td><%= u.name %></td>
          <% end %>
          <td><%= u.email %></td>
          <% if u.role.nil? %>
            <td>Användaren har ej satt en roll</td>
          <% else %>
            <td><%= u.role %></td>
          <% end %>
          <% if u.admin? %>
            <td>Ja</td>
          <% else %>
            <td>Nej</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_user.admin? && @deactivated_users.count > 0 %>
  <div class="row">
    <h1>Inaktiva användare</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Namn</th>
          <th>Email</th>
          <th>Roll</th>
          <th>Admin</th>
          <th style="text-align: center">Aktivera?</th>
        </tr>
      </thead>

      <tbody>
        <% @deactivated_users.each do |u| %>
          <tr>
            <% if u.name.nil? %>
              <td>Användaren har ej satt ett namn</td>
            <% else %>
              <td><%= u.name %></td>
            <% end %>
            <td><%= u.email %></td>
            <% if u.role.nil? %>
              <td>Användaren har ej satt en roll</td>
            <% else %>
              <td><%= u.role %></td>
            <% end %>
            <% if u.admin? %>
              <td>Ja</td>
            <% else %>
              <td>Nej</td>
            <% end %>
            <td style="text-align: center">
              <%= link_to '', activate_user_path(u.id), data: { confirm: 'Vill du aktivera denna användaren igen?' }, 
              class: 'btn btn-primary btn-xs glyphicon glyphicon-plus' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<br>