<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Dateofevent</th>
        <th>Message</th>
        <th>Token</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.title %></td>
          <td><%= ticket.dateOfEvent.strftime('%Y-%m-%d') %></td>
          <td><%= ticket.message %></td>
          <td><%= ticket.token %></td>
          <td><%= link_to 'Show', ticket.token %></td>
          <td><%#= link_to 'Edit', edit_ticket_path(ticket) %></td>
          <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

