<% provide(:title, "Rapport | Ärenden") %>

<p id="notice"><%= notice %></p>

<% if !current_user.try(:name).nil? %>
  <h1>Ärenden till <%= current_user.try(:name) %></h1>
<% else %>
  <h1>Ärenden</h1>
<% end %>

<h2>Olästa Ärenden</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Skickat in</th>
        <th>Senast kommenterad</th>
        <th>Läst?</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @unread.each do |ticket| %>
        <% if ticket.users.where(id: current_user).any?%>
          <tr>
            <td><%= link_to ticket.title, 'tickets/' + ticket.token  %></td>
            <td><%= ticket.created_at.strftime('%Y-%m-%d') %></td>
            <% if !ticket.comments.last.nil? %>
              <td><%= ticket.comments.last.created_at.strftime('%Y-%m-%d') %></td>
            <% else %>
              <td>Inga kommentarer</td>
            <% end %>
            <td>
              <a class="btn btn-primary btn-xs" data-remote="true" 
                href="<%= mark_as_read_path(ticket.token) %>"><span href="<%= mark_as_read_path(ticket.token) %>" 
                class="mark-read glyphicon glyphicon-ok" data-remote="true"></span>
              </a>
            </td>
            <td><%= link_to '', destroy_path(ticket.token), data: { confirm: 'Vill du ta bort detta ärendet?' }, class: 'btn btn-danger btn-xs glyphicon glyphicon-trash' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<h2>Lästa Ärenden</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Skickat in</th>
        <th>Senast kommenterad</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @read.each do |ticket| %>
        <% if ticket.users.where(id: current_user).any?%>
          <tr>
            <td><%= link_to ticket.title, 'tickets/' + ticket.token  %></td>
            <td><%= ticket.created_at.strftime('%Y-%m-%d') %></td>
            <% if !ticket.comments.last.nil? %>
              <td><%= ticket.comments.last.created_at.strftime('%Y-%m-%d') %></td>
            <% else %>
              <td>Inga kommentarer</td>
            <% end %>
            <td><%= link_to '', destroy_path(ticket.token), data: { confirm: 'Vill du ta bort detta ärendet?' }, class: 'btn btn-danger btn-xs glyphicon glyphicon-trash' %></td>
            <td><%#= link_to 'Show', 'tickets/' + ticket.token %></td>
            <td><%#= link_to 'Edit', edit_ticket_path(ticket) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>

