<% provide(:title, "Rapport | Ärenden") %>

<p id="notice"><%= notice %></p>

<% if !current_user.try(:role).nil? %>
  <h1>Ärenden till <%= current_user.try(:role) %></h1>
<% else %>
  <h1>Ärenden</h1>
<% end %>

<h2>Olästa Ärenden 
  <span class="pull-right">
    <%= link_to 'Markera alla som lästa', read_all_path, class: "btn btn-primary", remote: true,
    data: {confirm: "Är du säker på att du vill markera alla ärenden som lästa?"} %>
  </span>
</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Skickat in</th>
        <th>Senast kommenterad</th>
        <th>Läst?</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @unread.each do |ticket| %>
        <% if ticket.role == current_user.role || ticket.role == 'both' %>
          <tr>
            <td><%= link_to ticket.title, ticket_path(ticket.token)  %></td>
            <td><%= ticket.created_at.strftime('%Y-%m-%d %H:%M') %></td>
            <% if !ticket.comments.last.nil? %>
              <td><%= ticket.comments.last.created_at.strftime('%Y-%m-%d %H:%M') %></td>
            <% else %>
              <td>Inga kommentarer</td>
            <% end %>
            <td>
              <a class="btn btn-primary btn-xs" data-remote="true" 
                href="<%= mark_as_read_path(ticket.token) %>"><span href="<%= mark_as_read_path(ticket.token) %>" 
                class="mark-read glyphicon glyphicon-ok" data-remote="true"></span>
              </a>
            </td>
            <td><%= link_to '', destroy_path(ticket.token), data: { confirm: 'Vill du ta bort detta ärendet från databasen?' }, class: 'btn btn-danger btn-xs glyphicon glyphicon-trash' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<h2>Lästa Ärenden</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Skickat in</th>
        <th>Senast kommenterad</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @read.each do |ticket| %>
        <% if ticket.role == current_user.role || ticket.role == 'both' %>
          <tr>
            <td><%= link_to ticket.title, 'tickets/' + ticket.token  %></td>
            <td><%= ticket.created_at.strftime('%Y-%m-%d %H:%M') %></td>
            <% if !ticket.comments.last.nil? %>
              <td><%= ticket.comments.last.created_at.strftime('%Y-%m-%d %H:%M') %></td>
            <% else %>
              <td>Inga kommentarer</td>
            <% end %>
            <td><%= link_to '', destroy_path(ticket.token), data: { confirm: 'Vill du ta bort detta ärendet från databasen?' }, class: 'btn btn-danger btn-xs glyphicon glyphicon-trash' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>

