<% provide(:title, "Rapport | #{@ticket.title}") %>

<div class="ticket-container">
  <p id="notice"><%= notice %></p>
  <h1><%= @ticket.title %></h1>
  <ul class="list-group">
    
    <li class="list-group-item">
      <p>
        <strong>Datum när det inträffade:</strong>
        <%= @ticket.dateOfEvent.strftime('%Y-%m-%d') %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Inskickat:</strong>
        <%= @ticket.created_at.strftime('%Y-%m-%d %H:%M') %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Id:</strong>
        <%= @ticket.token %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Avsedd för:</strong>
        <% if @ticket.role == 'both'%>
          <p>Quratelet och Seniors</p>
        <% else %>
          <p><%= @ticket.role %></p>
        <% end %>
      </p>
    </li>
    <li class="list-group-item"> 
      <div style="word-wrap: break-word;">
        <p>
          <strong>Beskrivning:</strong>
          <%= @ticket.message %>
        </p>
      </div>
    </li>
  </ul>

  <h2>Kommentarer:</h2> 

  <% if @ticket.comments.any? %>
    <%= render @comments %>
  <% end %>
  <div class="comment_form">
    <%= render 'comments/form', ticket: @ticket %>
  </div>

  <br />
  <%#= link_to 'Edit', edit_ticket_path(@ticket) %> 
  <p>
  <% if user_signed_in? %>
    <%= link_to 'Tillbaka', tickets_path %>
  <% else %>
    <%= link_to 'Tillbaka', root_path %>
  <% end %>
  </p>
</div>