
<div class="ticket-container">
  <p id="notice"><%= notice %></p>

  <h1>
    <strong><%= @ticket.title %></strong>
  </h1>

  <p>
    <strong>Datum:</strong>
    <%= @ticket.dateOfEvent.strftime('%Y-%m-%d') %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= @ticket.token %>
  </p>

  <p>
    <strong>Meddelande:</strong>
  </p>
  <p><%= @ticket.message %></p>



  <%#= link_to 'Edit', edit_ticket_path(@ticket) %> 
  <% if user_signed_in? %>
    <%= link_to 'Tillbaka', tickets_path %>
  <% else %>
    <%= link_to 'Tillbaka', root_path %>
  <% end %>
</div>