<div class="ticket-container">
  <p id="notice"><%= notice %></p>
  <h1><%= @ticket.title %></h1>
  <ul class="list-group">
    <li class="list-group-item">
      <p>
        <strong>Datum:</strong>
        <%= @ticket.dateOfEvent.strftime('%Y-%m-%d') %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Token:</strong>
        <%= @ticket.token %>
      </p>
    </li>
    <li class="list-group-item"> 
      <p>
        <strong>Beskrivning:</strong>
        <%= @ticket.message %>
      </p>
    </li>
  </ul>

  <h2>Kommentarer:</h2> 

  <% if @ticket.comments.any? %>
    <%= render @comments %>
  <% end %>
  <div class="comment_form">
    <%= render 'comments/form', ticket: @ticket %>
  </div>

  <br />
  <%#= link_to 'Edit', edit_ticket_path(@ticket) %> 
  <% if user_signed_in? %>
    <%= link_to 'Tillbaka', tickets_path %>
  <% else %>
    <%= link_to 'Tillbaka', root_path %>
  <% end %>
</div>